<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='win.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/launch.ico') }}">

	<script src="{{ url_for('static', filename='js/time.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
	<script defer src="https://kit.fontawesome.com/1f1ce1e187.js" crossorigin="anonymous"></script>

	<title>XaTa</title>
	
</head>

<body>
	
	<div class="backmail"> 
		<div class="loader">🚀</div>
		<p>Email отправлен.</p>
		
		<p> Cпасибо за обратную связь 👍 </p>
		<p><a href="https://xataa.ru"> Вернуться на главную  </a></p>
</body>
		
		

</html>